<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <!--关闭富文本验证 修改URL最大长度  -->
      <httpRuntime requestValidationMode="2.0" maxQueryStringLength="102400"/>
      
      
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
 
  <connectionStrings>
    <add name="city_config" connectionString="Data Source=gy_chm-PC;database=City_SQL_DB;user id=sa;password=sa1;min pool size=4;max pool size=4;"
     providerName="System.Data.SqlClient" />
    <add name="product_config" connectionString="Data Source=gy_chm-PC;database=Auto_Product_DB;user id=sa;password=sa1;min pool size=4;max pool size=4;"
 providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>
