ul, li, ol { list-style: none; }
/* 重置文本格式元素 */
a { text-decoration: none; cursor: pointer; color:#333333; font-size:14px;}
a:hover { text-decoration: none; }
.clearfix::after{ display:block; content:''; height:0; overflow:hidden; clear:both;} 
/*星星样式*/
.content{ width:150px; margin:0 auto; padding-top:20px;}
.title{ font-size:14px; background:#dfdfdf;}
.block{ width:150px; margin:0;margin-top:10px; line-height:21px;height:30px}

.block .star_score{ float:left;}
.star_list{height:21px;margin:50px; line-height:21px;}
.star_score { background:url(/image/stark2.png); width:160px; height:21px;  position:relative; }
.star_score a{ height:21px; display:block; text-indent:-999em; position:absolute;left:0;}
.star_score a:hover{ background:url(/image/stark2.png);left:0;}
.star_score a.clibg{ background:url(/image/stars2.png);left:0;}
.show_number{ padding-left:50px; padding-top:20px;}

.show_number li{ width:240px; border:1px solid #ccc; padding:10px; margin-right:5px; margin-bottom:20px;}
.atar_Show{background:url(/image/stark2.png); width:160px; height:21px;  position:relative; float:left; }
.atar_Show p{ background:url(/image/stars2.png);left:0; height:21px;position:relative; top:-12px; width:134px;}
